<div class="main">
    <div class="post-content" style="padding-right: 35px;">
        <h1 id="syncfusion-angular-ui-components-essential-js-2">Syncfusion Angular UI Components (Essential JS 2)</h1>
        <p id="resultRT">20 Mar 2024<span class="dot"></span>8 minutes to read</p>

        <p>Syncfusion Angular UI (Essential JS 2) is a collection of modern TypeScript based true Angular Components. It
            has support for Ahead Of Time (AOT) compilation and Tree-Shaking. All the components are developed from the
            ground up to be lightweight, responsive, modular and touch friendly.</p>

        <h2 id="components-list" class="clickable-header top-level-header">Components list<a class="permalink"
                href="#components-list" title="" data-toggle="tooltip" data-placement="right" rel="noreferer noopener"
                data-original-title="Permalink"><i class="fa fa-link"></i></a></h2>

        <p>The Syncfusion Angular UI components are listed below.</p>

        <style>

        </style>

        <table id="table" style="border: 0px;">
            <tbody>
            </tbody>
            <colgroup>
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
            </colgroup>

            <tbody>
                <!-- <tr>
                    <td *ngFor="let json of jsonList">
                        <div *ngFor="let data of json.data">
                            <div *ngIf="data.bold">
                                <p class="controlcategory">{{data.name}}</p>
                            </div>
                            <div *ngIf="!data.bold" class="controlanchorlink"><a target="_self" href="{{data.link}}"
                                    rel="noreferer noopener">{{data.name}}</a></div>
                        </div>
                    </td>
                </tr> -->
                <tr>
                    <td>
                        <div>
                            <p class="controlcategory">GRIDS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/grid/getting-started/"
                                rel="noreferer noopener">DataGrid</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/pivotview/getting-started/"
                                rel="noreferer noopener">Pivot Table</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/treegrid/getting-started/"
                                rel="noreferer noopener">TreeGrid</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/spreadsheet/getting-started/"
                                rel="noreferer noopener">Spreadsheet</a></div>
                        <div>
                            <p class="controlcategory">FILE VIEWERS &amp; EDITORS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/document-editor/getting-started"
                                rel="noreferer noopener">Document Editor</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/inplace-editor/getting-started/"
                                rel="noreferer noopener">In-place Editor</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/image-editor/getting-started"
                                rel="noreferer noopener">Image Editor</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/rich-text-editor/getting-started/"
                                rel="noreferer noopener">RichTextEditor</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/pdfviewer/getting-started/"
                                rel="noreferer noopener">PDF Viewer</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/document-editor/getting-started/"
                                rel="noreferer noopener">Word Processor</a></div>
                        <div>
                            <p class="controlcategory">LAYOUT</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/dialog/getting-started/"
                                rel="noreferer noopener">Dialog</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/listview/getting-started/"
                                rel="noreferer noopener">ListView</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/predefined-dialogs/getting-started"
                                rel="noreferer noopener">Predefined Dialogs</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/tooltip/getting-started/"
                                rel="noreferer noopener">Tooltip</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/splitter/getting-started/"
                                rel="noreferer noopener">Splitter</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/dashboard-layout/getting-started/"
                                rel="noreferer noopener">Dashboard</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/card/getting-started/"
                                rel="noreferer noopener">Card</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/avatar/getting-started/"
                                rel="noreferer noopener">Avatar</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/timeline/getting-started"
                                rel="noreferer noopener">Timeline</a></div>
                    </td>
                    <td>
                        <div>
                            <p class="controlcategory">DATA VISUALIZATION</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/chart/getting-started/"
                                rel="noreferer noopener">Charts</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/3d-chart/getting-started"
                                rel="noreferer noopener">3D Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/circular-chart-3d/getting-started"
                                rel="noreferer noopener">3D Circular Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/accumulation-chart/getting-started"
                                rel="noreferer noopener">Accumulation Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/stock-chart/getting-started/"
                                rel="noreferer noopener">Stock Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/circular-gauge/getting-started/"
                                rel="noreferer noopener">Circular Gauge</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/linear-gauge/getting-started/"
                                rel="noreferer noopener">Linear Gauge</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/diagram/getting-started/"
                                rel="noreferer noopener">Diagram Component</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/heatmap-chart/getting-started/"
                                rel="noreferer noopener">HeatMap Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/maps/getting-started/"
                                rel="noreferer noopener">Map</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/range-navigator/getting-started/"
                                rel="noreferer noopener">Range Selector</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/smithchart/getting-started/"
                                rel="noreferer noopener">Smith Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/sparkline/getting-started/"
                                rel="noreferer noopener">Sparkline Charts</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/barcode/getting-started/"
                                rel="noreferer noopener">Barcode</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/treemap/getting-started/"
                                rel="noreferer noopener">TreeMap</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/bullet-chart/getting-started/"
                                rel="noreferer noopener">Bullet Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/kanban/getting-started/"
                                rel="noreferer noopener">Kanban</a></div>
                        <div>
                            <p class="controlcategory">BUTTONS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/button/getting-started/"
                                rel="noreferer noopener">Button</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/button-group/getting-started/"
                                rel="noreferer noopener">ButtonGroup</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/drop-down-button/getting-started/"
                                rel="noreferer noopener">Dropdown Menu</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/progress-button/getting-started/"
                                rel="noreferer noopener">Progress Button</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/split-button/getting-started/"
                                rel="noreferer noopener">SplitButton</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/chips/getting-started/"
                                rel="noreferer noopener">Chips</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/floating-action-button/getting-started/"
                                rel="noreferer noopener">Floating Action Button</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/speed-dial/getting-started/"
                                rel="noreferer noopener">Speed Dial</a></div>
                    </td>
                    <td>
                        <div>
                            <p class="controlcategory">CALENDARS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/schedule/getting-started/"
                                rel="noreferer noopener">Scheduler</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/gantt/getting-started/"
                                rel="noreferer noopener">Gantt Chart</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/calendar/getting-started/"
                                rel="noreferer noopener">Calendar</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/datepicker/getting-started/"
                                rel="noreferer noopener">DatePicker</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/daterangepicker/getting-started/"
                                rel="noreferer noopener">DateRangePicker</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/datetimepicker/getting-started/"
                                rel="noreferer noopener">DateTime Picker</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/timepicker/getting-started/"
                                rel="noreferer noopener">TimePicker</a></div>
                        <div>
                            <p class="controlcategory">INPUTS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/textbox/getting-started/"
                                rel="noreferer noopener">TextBox</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/textarea/getting-started/"
                                rel="noreferer noopener">TextArea</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/maskedtextbox/getting-started/"
                                rel="noreferer noopener">Input Mask</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/numerictextbox/getting-started/"
                                rel="noreferer noopener">Numeric TextBox</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/radio-button/getting-started/"
                                rel="noreferer noopener">RadioButton</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/check-box/getting-started/"
                                rel="noreferer noopener">CheckBox</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/color-picker/getting-started/"
                                rel="noreferer noopener">Color Picker</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/uploader/getting-started/"
                                rel="noreferer noopener">File Upload</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/range-slider/getting-started/"
                                rel="noreferer noopener">Range Slider</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/switch/getting-started/"
                                rel="noreferer noopener">Toggle Switch Button</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/signature/getting-started/"
                                rel="noreferer noopener">Signature</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/rating/getting-started/"
                                rel="noreferer noopener">Rating</a></div>
                        <div>
                            <p class="controlcategory">FORMS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/query-builder/getting-started/"
                                rel="noreferer noopener">Query Builder</a></div>
                    </td>
                    <td>
                        <div>
                            <p class="controlcategory">DROPDOWNS</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/auto-complete/getting-started/"
                                rel="noreferer noopener">AutoComplete</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/list-box/getting-started/"
                                rel="noreferer noopener">ListBox</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/combo-box/getting-started/"
                                rel="noreferer noopener">ComboBox</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/drop-down-list/getting-started/"
                                rel="noreferer noopener">Dropdown List</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/multi-select/getting-started/"
                                rel="noreferer noopener">Multiselect DropDown</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/drop-down-tree/getting-started/"
                                rel="noreferer noopener">DropDown Tree</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/mention/getting-started"
                                rel="noreferer noopener">Mention</a></div>
                        <div>
                            <p class="controlcategory">NAVIGATION</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/accordion/getting-started/"
                                rel="noreferer noopener">Accordion</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/carousel/getting-started"
                                rel="noreferer noopener">Carousel</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/context-menu/getting-started/"
                                rel="noreferer noopener">Context Menu</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/menu/getting-started/"
                                rel="noreferer noopener">Menu Bar</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/ribbon/getting-started/"
                                rel="noreferer noopener">Ribbon</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/sidebar/getting-started/"
                                rel="noreferer noopener">Sidebar</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/tab/getting-started/"
                                rel="noreferer noopener">Tabs</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/toolbar/getting-started/"
                                rel="noreferer noopener">Toolbar</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/treeview/getting-started/"
                                rel="noreferer noopener">TreeView</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/file-manager/getting-started/"
                                rel="noreferer noopener">File Manager</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/stepper/getting-started"
                                rel="noreferer noopener">Stepper</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/breadcrumb/getting-started/"
                                rel="noreferer noopener">Breadcrumb</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/pager/getting-started/"
                                rel="noreferer noopener">Pager</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/appbar/getting-started/"
                                rel="noreferer noopener">AppBar</a></div>
                        <div>
                            <p class="controlcategory">NOTIFICATION</p>
                        </div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/toast/getting-started/"
                                rel="noreferer noopener">Toast</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/progress-bar/getting-started/"
                                rel="noreferer noopener">Progress Bar</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/spinner/getting-started/"
                                rel="noreferer noopener">Spinner</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/badge/getting-started/"
                                rel="noreferer noopener">Badge</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/skeleton/getting-started/"
                                rel="noreferer noopener">Skeleton</a></div>
                        <div class="controlanchorlink"><a target="_self"
                                href="https://ej2.syncfusion.com/angular/documentation/message/getting-started/"
                                rel="noreferer noopener">Message</a></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 id="how-to-best-read-this-user-guide" class="clickable-header top-level-header">How to best read this user
            guide<a class="permalink" href="#how-to-best-read-this-user-guide" title="" data-toggle="tooltip"
                data-placement="right" rel="noreferer noopener" data-original-title="Permalink"><i
                    class="fa fa-link"></i></a></h2>

        <ul>
            <li>
                <p>The best way to get started would be to read the “Getting Started” section of the documentation for
                    the component that you would like to start using first.<br>
                    The “Getting Started” guide gives just enough information that you need to know before starting to
                    write code. This is the only section that we recommend reading end-to-end before starting to write
                    code, all other information can be referred as needed.</p>
            </li>
            <li>
                <p>Now that you are familiar with the basics of using the component, the next step would be to start
                    integrating the component into your application.<br>
                    A good starting point would be to refer to the code snippets in the <a
                        href="http://ej2.syncfusion.com/angular/demos/" rel="noreferer noopener">online sample
                        browser</a> which contains hundreds of code samples, it is very likely that you will find a code
                    sample that resembles your intended usage scenario.</p>
            </li>
            <li>
                <p>Another valuable resource is the API reference which provides detailed information on the object
                    hierarchy as well as the settings available on every object.</p>
            </li>
        </ul>

        <h2 id="getting-help" class="clickable-header top-level-header">Getting help<a class="permalink"
                href="#getting-help" title="" data-toggle="tooltip" data-placement="right" rel="noreferer noopener"
                data-original-title="Permalink"><i class="fa fa-link"></i></a></h2>

        <ul>
            <li>
                <p>If you are still not able to find the information that you are looking for in the self-help resources
                    mentioned above then please contact us by creating a support ticket in <a
                        href="https://www.syncfusion.com/support/directtrac/incidents" rel="noreferer noopener"
                        target="_blank">our support site</a> or ask your query in Stack Overflow with tag
                    <code>syncfusion-ej2</code>.
                </p>
            </li>
            <li>
                <p>Don’t see what you need? Please request it in our <a
                        href="https://www.syncfusion.com/feedback/angular" rel="noreferer noopener"
                        target="_blank">feedback portal</a>.</p>
            </li>
        </ul>

        <blockquote>
            <p>Note: Syncfusion does not collect any kind of information when our components are used in customer
                applications.</p>
        </blockquote>

        <h2 id="see-also" class="clickable-header top-level-header">See also<a class="permalink" href="#see-also"
                title="" data-toggle="tooltip" data-placement="right" rel="noreferer noopener"
                data-original-title="Permalink"><i class="fa fa-link"></i></a></h2>

        <ul>
            <li>
                <p><a href="https://www.syncfusion.com/support/product-lifecycle/" rel="noreferer noopener"
                        target="_blank">Product Development Life Cycle</a></p>
            </li>
            <li>
                <p><a href="https://ej2.syncfusion.com/angular/documentation/getting-started/angular-cli/"
                        rel="noreferer noopener">Getting started with Syncfusion Angular Components</a></p>
            </li>
            <li>
                <p><a href="https://ej2.syncfusion.com/angular/documentation/getting-started/systemjs/"
                        rel="noreferer noopener">Getting started with Syncfusion Angular SystemJS</a></p>
            </li>
            <li>
                <p><a href="https://ej2.syncfusion.com/angular/documentation/getting-started/aspnet-core/"
                        rel="noreferer noopener">Getting started Syncfusion Angular with ASP.NET Core</a></p>
            </li>
            <li>
                <p><a href="https://ej2.syncfusion.com/angular/documentation/getting-started/aspnet-mvc/"
                        rel="noreferer noopener">Getting started Syncfusion Angular with ASP.NET MVC</a></p>
            </li>
            <li>
                <p><a href="https://ej2.syncfusion.com/angular/documentation/frameworks-and-feature/tree-shaking/"
                        rel="noreferer noopener">Getting started with Syncfusion Angular Treeshaking</a></p>
            </li>
        </ul>

    </div>

</div>